Data/Logs
/.log
Data/System/Source/obj
throttle.log
Saves
Game
Backups
Data/System/Source/bin
Data/Obsolete
Data/Scripts/Obsolete
﻿# Default ignored files
Data/System/Source/shelf/
Data/System/Source/workspace.xml
# Rider ignored files
Data/System/Source/.idea.World.iml
Data/System/Source/contentModel.xml
Data/System/Source/projectSettingsUpdater.xml
Data/System/Source/modules.xml
# Editor-based HTTP Client requests
Data/System/Source/httpRequests/
# Datasource local storage ignored files
Data/System/Source/dataSources/
Data/System/Source/dataSources.local.xml
Data/System/Source/.idea
.idea
.run
obj
Data/Data.bin
Data/Data.hash
Info/Scripts/Settings.cs
/koperdev.sln.DotSettings.user
/Backups/Crashed/12-3-2025-21-25-31/Accounts/Accounts.xml
/Backups/Crashed/12-3-2025-21-25-31/Data/adventures.txt
/Backups/Crashed/12-3-2025-21-25-31/Data/battles.txt
/Backups/Crashed/12-3-2025-21-25-31/ChatBeta8/Channels.bin
/Crash 12-3-2025-21-25-31.log
/Backups/Crashed/12-3-2025-21-25-31/Data/deaths.txt
/Backups/Crashed/12-3-2025-21-25-31/ChatBeta8/Friends.bin
/Backups/Crashed/12-3-2025-21-25-31/ChatBeta8/GlobalListens.bin
/Backups/Crashed/12-3-2025-21-25-31/ChatBeta8/GlobalOptions.bin
/Backups/Crashed/12-3-2025-21-25-31/Guilds/Guilds.bin
/Backups/Crashed/12-3-2025-21-25-31/Guilds/Guilds.idx
/Backups/Crashed/12-3-2025-21-25-31/ChatBeta8/Gumps.bin
/Backups/Crashed/12-3-2025-21-25-31/ChatBeta8/Ignores.bin
/Backups/Crashed/12-3-2025-21-25-31/Items/Items.bin
/Backups/Crashed/12-3-2025-21-25-31/Items/Items.idx
/Backups/Crashed/12-3-2025-21-25-31/Items/Items.tdb
/Backups/Crashed/12-3-2025-21-25-31/Data/journies.txt
/Backups/Crashed/12-3-2025-21-25-31/Mobiles/Mobiles.bin
/Backups/Crashed/12-3-2025-21-25-31/Mobiles/Mobiles.idx
/Backups/Crashed/12-3-2025-21-25-31/Mobiles/Mobiles.tdb
/Backups/Crashed/12-3-2025-21-25-31/Data/online.txt
/Backups/Crashed/12-3-2025-21-25-31/ChatBeta8/PlayerOptions.bin
/Backups/Crashed/12-3-2025-21-25-31/ChatBeta8/Pms.bin
/Backups/Crashed/12-3-2025-21-25-31/Data/quests.txt
/Backups/Crashed/12-3-2025-21-25-31/Data/server.txt
